@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap'); /* Fira */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Inconsolata:wght@200..900&display=swap'); /* Consola */

@font-face {
  font-family: chemiFont;
  src: url(../Quote-Generator/bpg_glaho_sylfaen.ttf);
}

h1 {
     color: black;
}

body {
     font-family: chemiFont;
     background-color: #ffffff;
}

/* Img */

#nikaDeveloper {
     width: 350px;
     border-radius: 50%;
}


.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-in-center {
     0% {
       -webkit-transform: scale(0);
               transform: scale(0);
       opacity: 1;
     }
     100% {
       -webkit-transform: scale(1);
               transform: scale(1);
       opacity: 1;
     }
   }
   @keyframes scale-in-center {
     0% {
       -webkit-transform: scale(0);
               transform: scale(0);
       opacity: 1;
     }
     100% {
       -webkit-transform: scale(1);
               transform: scale(1);
       opacity: 1;
     }
   }
   
/* Quote  */

.buttons {
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: visible;
  font-family: chemiFont;
  flex-wrap: wrap;
}

.categoryBtn {
  font-family: chemiFont;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-expand {
     0% {
       letter-spacing: -0.5em;
       opacity: 0;
     }
     40% {
       opacity: 0.6;
     }
     100% {
       opacity: 1;
     }
   }
   @keyframes tracking-in-expand {
     0% {
       letter-spacing: -0.5em;
       opacity: 0;
     }
     40% {
       opacity: 0.6;
     }
     100% {
       opacity: 1;
     }
   }
   
.buttons {
  display: flex;
  gap: 15px;
}

.quoteGenerator {
     flex-direction: column;
     width: 500px;
     padding-top: 50px;
     display: flex;
     text-align: center;
     margin: 0 auto;
     justify-content: center;
     align-items: center;
}

#quoteContainer p {
     font-family: chemiFont;
     padding-top: 20px;
     padding-bottom: 20px;
     color: black;
     font-size: 18px;
     width: 350px;
}

.categoryBtn {
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 30px;
     padding-right: 30px;
     font-size: 13px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.879) 0%, rgba(178, 178, 178, 0.08) 100%);
     border: 1px solid rgba(22, 22, 22, 0.2);
     color: #111;
     width: 100px;
     border-radius: 3px;
     transition: all 0.5s;
}

.categoryBtn:hover {
     border: 1px solid rgba(0, 0, 0, 0.39);
}

/* Documentation */

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-16 15:9:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 @-webkit-keyframes tracking-in-contract {
     0% {
       letter-spacing: 1em;
       opacity: 0;
     }
     40% {
       opacity: 0.6;
     }
     100% {
       letter-spacing: normal;
       opacity: 1;
     }
   }
   @keyframes tracking-in-contract {
     0% {
       letter-spacing: 1em;
       opacity: 0;
     }
     40% {
       opacity: 0.6;
     }
     100% {
       letter-spacing: normal;
       opacity: 1;
     }
   }
   

h2, h3 {
     font-size: 18px;
     border-bottom: 1px solid #eee;
     padding-bottom: 5px;
}
.documentation {
     width: 500px;
     padding-top: 50px;
     display: flex;
     flex-direction: column;
     margin: 0 auto;
     padding-bottom: 50px;
}

#doc1 a {
     font-size: 19px;
     background-color: #f7f7f7;
     color: #333;
}

/* Table */

table {
     border-radius: 5px;
     width: 100%;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 20px;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

/* Socials */
   
#socials img {
     width: 50px;
     transition: all 0.2s;
}

#socials img:hover {
     transition: all 0.2s;
     transform: scale(1.2);
}

/* Responsive */

@media screen and (max-width: 500px) {
  .quoteGenerator {
    width: 80%;
    flex-direction: column;
    align-items: center;
    white-space: normal;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .documentation {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    white-space: normal;
  }
  h2,h3 {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
  }
}